NO_AUTH_MODE=false

ENVIRONMENT=dev

#DEV
DEV_HOST=api.example.com
DEV_API_VERSION=/api/v1
DEV_AUTH_BASE_URL=https://api.example.com/api/auth

#PROD
PROD_HOST=
PROD_API_VERSION=/api/v1
PROD_AUTH_BASE_URL=

APPLE_SIGN_IN=true

GOOGLE_WEB_CLIENT_ID=your-web-client-id.apps.googleusercontent.com
GOOGLE_IOS_CLIENT_ID=your-ios-client-id.apps.googleusercontent.com

DEMO_VIDEO_URL=
